extends layout

block content
 #page-header
        .container
            .page-header-container
                .page-header-left
                    .page-header-title  #{urun._id.baslik}
                .page-header-right
                    ul.page-header-breadcrumbs
                        li
                            a(href='/', title='Breadcrumbs Item') Anasayfa
                        li
                            a(href='', title='Breadcrumbs Item') Ürünler
                        li
                            span #{urun._id.baslik}
 #product-types
    .container
        .product-types-container
            a.product-types-item(href='', title='Product Types Item') #{urun._id.baslik}

 #details
    .container
        .row.details-row
            .col-lg-6.col-md-6
                h2.details-title #{urun._id.baslik}
                p.details-description #{urun._id.icerik}
                p.details-text
                    | #{urun._id.aciklama}
                img.details-image(src='/images/'+urun._id.resim, alt='Detail Image')
            .col-lg-4.col-md-5
                .details-buy
                    .details-buy-price
                        | #{urun._id.fiyat} $
                    .details-buy-button
                        a.button(href=''+urun._id.satinalUrl, title='Satın Al') Satın Al
                ul.details-list
                    - var ozellik = urun.urunozellik;
                      -for(var x = 0 ; x < ozellik.length; x++){
                       -if(ozellik[x].grupAdi==="tum"){
                       li
                           span #{ozellik[x].adi} :
                           span #{ozellik[x].aciklama}
                       -}
                      -}

 #properties
    .container
        h1.properties-title Filtre
        .row
            -for(var x = 0 ; x < ozellik.length; x++){
            -if(ozellik[x].grupAdi==="filtre"){
            .col-md-6
                .properties-item
                    .properties-item-icon
                        .properties-item-icon-inner
                            i.icon.icon-properties
                    .properties-item-content
                        | #{ozellik[x].aciklama}
            -}
            -}


 #membran
    .container
        i.icon.icon-membran
        -for(var x = 0 ; x < ozellik.length; x++){
        -if(ozellik[x].grupAdi==="membran"){
        h2.membran-title #{ozellik[x].adi}
        h2.membran-text #{ozellik[x].aciklama}
        -}
        -}

 #details-product-types
     -var sy =0;
     -for(var x = 0 ; x < ozellik.length; x++){
     -if(ozellik[x].grupAdi==="musluk"){ sy++
     -if(sy === 1 ){
     .details-product-types-left
         | #{ozellik[x].adi}
         strong Musluk
         img(src='/assets/dist/img/details-product-type-1.png', alt=''+ozellik[x].adi)

     -}else{
     .details-product-types-right
         img(src='/assets/dist/img/details-product-type-2.png', alt=''+ozellik[x].adi)
         |         #{ozellik[x].adi}
         strong Musluk

     -}


     -}
     -}


 include temp/sponsor
 include temp/ebulten

